<h1>Welcome</h1>
<% if Question.any? %>
<ol>
  <% Question.all.each do |question| %>
  <li><%= question.description %></li>
  <% end %>
</ol>
<% else %>
<h5>Add questions below:</h5>
<% end %>


<div class="row">
  <form action="/questions" method="post" class="col s12">
    <div class="input-field col s12">
      <label for="description"></label>
      <input name="description" id="description" type="text">
    </div>
    <button class="btn-large waves-effect waves-light pink accent-2" type="submit">Add</button>
  </form>
</div>


<% if Question.any? %>
  <form action="/questions" method="post">
    <input type="hidden" value="delete" name="_method">
    <label>Select Question</label>
      <select id="question_id" name='question_id' type='text' class="browser-default">
        <option value="" disabled selected>Choose a question</option>
        <% Question.all.each do |question| %>
          <option value="<%= question.id %>"><%= question.description %></option>
        <% end %>
      </select>
    </br>
    <button class="btn-large waves-effect waves-light pink accent-1" type="submit">Delete</button>
  </form>
<% end %>
