<div class="container">
  <form class="col s12" action="/admin_login" method="post">
    <input type="hidden" name="_method" value="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="password" placeholder="Password" name ="password" type="text" class="validate">
          <label for="password" data-error="wrong" data-success="right"></label>
        </div>
      </div>
    <button class="btn waves-effect waves-light pink accent-2" type="submit">Login</button>
  </div>
</form>
