<form class="col s12">
  <div class="input-field col s6">
    <input placeholder="Password" id="password" type="text" class="validate">
    <label for="password">Password</label>
  </div>
</form>

<a href="/admin">Submit</a>
