<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center">Find a Buddy!</h1>
    <div class="row center">
      <h5 class="header col s12 light">Make a friend. Learn something new.</h5>
    </div>
    <div class="row center">
      <a href="/login" id="download-button" class="btn-large waves-effect waves-light pink accent-2">Login</a>
      <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light pink accent-1">Create Account</a>
      <a href="/admin_login" id="download-button" class="btn-large waves-effect waves-light pink accent-1">Admin</a>
    </div>
    <br><br>

  </div>
</div>
