<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pair Swype</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="cyan accent-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Pair Swype</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/users/new">Create Account</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/users/new">Create Account</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container main-content">
    <%= yield %>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>
