<% if @user.questions.any? %>
  <ol>
    <% @user.questions.each do |question| %>
      <li><%= question.description %>
        <p><% question.responses.each do |response| %>
            <%= response.value %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ol>
<% else %>
<h5 class="header center">You haven't created any preferences yet!</h5>
<p class="header center"><a href="/quiz" id="download-button" class="btn-large waves-effect waves-light pink accent-2">Take Preference Quiz</a></p>
<% end %>
