<div class="message">
  <% if @message != nil %>
    <p class="center card-panel red lighten-4"><%= @message %></p>
  <% end %>
</div>

<h3>Login</h3>

<div class="row">
  <form class="col s12" action="/sessions" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input length="20"  name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light pink accent-2" type="submit">Login</button>
  </form>
</div>
