<div class="row center">

  <h2 class="header"><%= @user.name %> <%= @user.last_name %></h2>
  <form class="col s2 m2 l2" action="/pairs" method="post">
    <input type="hidden" name="partner_id" value="<%= @user.id %>">
    <input name="day" type="date" class="datepicker">
    <button id="add-pair-btn" class="btn waves-effect waves-light pink accent-2" type="submit">Add Pair</button>
  </form>
</div>
<%= erb :detail_partial %>
