.main-content {
  margin-top: 5%;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label
.input-field select:focus + label,
{
  color: #ff4081;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
  border-bottom: 1px solid #ff80ab;
  box-shadow: 0 1px 0 0 #d81b60;
}

.delete-btn {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

#user_avatar {
  display: block;
  height: 10em;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
  }
